#c51226 ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#c51226 ul li a {
  font-family: é»‘ä½“;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: block;
  width: 90px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
}

#c51226 ul li {
  float: left;
  margin-left: 0px;
}

#c51226 ul li a:hover 0 0 no-repeat;
}

#c51226 ul li a#current {
  font-weight: bold;
  color: #fff;
}

#c51226 ul li ul {
  border: 0px solid #ccc;
  display: none;
}

#c51226 ul li ul li {
  font-family: é»‘ä½“;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  float: none;
  margin: 0;
}

#c51226 ul li ul li a {
  width: 90px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background: url('../images/imgnav_vsb_level2_bg_1.png');
  color: #000000;
}

#c51226 ul li ul li a:hover {
  background: url('../images/imgnav_vsb_level2_bg_1.jpg');
  color: #000000;
}

#c51226 ul li:hover ul {
  display: block;
  z-index: 9999999;
  position: absolute;
}

#c51226 ul li.sfhover ul {
  display: block;
}

.timestyle51154 {
  color: #148505;
  font-size: 9pt;
}

.mtitlestyle51154 {
  color: #3c3c3c;
  font-size: 9pt;
  font-weight: bold;
}

.leaderfont51154 {
  font-size: 9pt;
}

.titlestyle51154 {
  color: #cc0000;
  font-size: 9pt;
}

.leaderfont37954 {
  font-family: å®‹ä½“;
  color: #606060;
  font-size: 9pt;
  font-weight: bold;
}

.querystyle37954 {
  background-image: url(../images/ico_fdj.gif);
  border-bottom: #878787 1px solid;
  position: relative;
  border-left: #878787 1px solid;
  padding-left: 18px;
  background-repeat: no-repeat;
  font-family: å®‹ä½“;
  color: #222222;
  font-size: 10pt;
  border-top: #878787 1px solid;
  border-right: #878787 1px solid;
  padding-top: 3px;
}

.splitflagstyle37955 {
  color: #222222;
}

.fontstyle37955 {
  font-size: 9pt;
  color: #222222;
  text-decoration: none;
}

.winstyle37955 {
  font-size: 9pt;
  color: #222222;
  font-family: å®‹ä½“;
}

.footstyle37956 {
  font-size: 9pt;
}

.votestyle37956 {
  font-weight: bold;
  font-size: 11pt;
  color: #2b2b2b;
  font-family: å®‹ä½“;
}

.navstyle37956 {
  font-size: 9pt;
  color: #222222;
  font-family: å®‹ä½“;
  text-decoration: none;
}

.pagestyle37956 {
  font-size: 9pt;
  color: #222222;
  font-family: å®‹ä½“;
}

.authorstyle37956 {
  font-size: 9pt;
}

.contentstyle37956 {
  font-size: 9pt;
  line-height: 150%;
}

.titlestyle37956 {
  font-size: 16pt;
  font-weight: bold;
  padding-top: 20px;
  line-heigh: 300%;
}

.contextstyle37956 {
  font-size: 9pt;
  color: #222222;
  font-family: '宋体';
  text-decoration: none;
}

.votetitlestyle37956 {
  font-size: 9pt;
  color: #2b2b2b;
  font-family: '宋体';
}

.timestyle37956 {
  font-size: 9pt;
}

.winstyle37956 {
  font-size: 9pt;
  font-family: '宋体';
}

.c37956_content span {
  font-size: 100%;
}

.timestyle51149 {
  color: #c7c8c8;
  font-size: 9pt;
}

.leaderfont51149 {
  font-size: 9pt;
  color: #222222;
}

.titlestyle51149 {
  font-size: 9pt;
  vertical-align: 2px;
  color: #222222;
  text-decoration: none;
}

.clickstyle51149 {
  font-size: 9pt;
  vertical-align: 2px;
  color: #222222;
  text-decoration: none;
}

.columnstyle51149 {
  color: #4d74a6;
  font-size: 9pt;
  vertical-align: 2px;
  text-decoration: none;
}